{% load i18n django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
    * {
        border-radius: 0!important;
    }
</style>
<form method="post" id="form-container" class="form" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_form_errors form layout='inline' %}
    {% bootstrap_form form %}

    <h2 class="mt-4">{% trans "Students" %}:</h2>
    {{ students.management_form }}
    {% for form in students %}
        <div class="student-form mb-5">
            {% bootstrap_form_errors form layout='inline' %}
            {% bootstrap_form form %}
        </div>
    {% endfor %}
    {% bootstrap_button "Add" id="add-student-form" button_class="btn-secondary" %}
    {% bootstrap_button "Delete" id="delete-student-form" button_class="btn-secondary" %}

    <h2 class="mt-4">{% trans "Supervisors" %}:</h2>
    {{ supervisors.management_form }}
    {% for form in supervisors %}
        <div class="supervisor-form mb-5">
            {% bootstrap_form_errors form layout='inline' %}
            {% bootstrap_form form %}
        </div>
    {% endfor %}
    {% bootstrap_button "Add" id="add-supervisor-form" button_class="btn-secondary" %}
    {% bootstrap_button "Delete" id="delete-supervisor-form" button_class="btn-secondary" %}

    <br>
    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary mt-5" %}
</form>
<script>
    let container = document.querySelector("#form-container")

    let studentForm = document.querySelectorAll(".student-form")
    let addStudentButton = document.querySelector("#add-student-form")
    let deleteStudentButton = document.querySelector("#delete-student-form")
    let totalStudentsForms = document.querySelector("#id_authors-TOTAL_FORMS")
    let studentFormNum = totalStudentsForms.getAttribute("value")
    let maxStudentsForms = document.querySelector("#id_authors-MAX_NUM_FORMS").getAttribute("value")
    let minStudentsForms = document.querySelector("#id_authors-MIN_NUM_FORMS").getAttribute("value")
    addStudentButton.addEventListener('click', addStudentForm)
    deleteStudentButton.addEventListener('click', deleteStudentForm)
    function addStudentForm(e){
        e.preventDefault()

        if (studentFormNum < maxStudentsForms){
            let newForm = studentForm[0].cloneNode(true)
            let formRegex = RegExp(`authors-(\\d){1}-`,'g')

            studentFormNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `authors-${studentFormNum-1}-`)
            container.insertBefore(newForm, addStudentButton)

            totalStudentsForms.setAttribute('value', `${studentFormNum}`)
        }
    }
    function deleteStudentForm(e){
        e.preventDefault()

        if (studentFormNum > minStudentsForms) {
            studentForm = document.querySelectorAll(".student-form")
            studentForm[studentForm.length-1].remove()
            studentFormNum--
            totalStudentsForms.setAttribute('value', `${studentFormNum}`)

        }
    }


    let supervisorForm = document.querySelectorAll(".supervisor-form")
    let addSupervisorButton = document.querySelector("#add-supervisor-form")
    let deleteSupervisorButton = document.querySelector("#delete-supervisor-form")
    let totalSupervisorsForms = document.querySelector("#id_supervisors-TOTAL_FORMS")
    let supervisorFormNum = totalSupervisorsForms.getAttribute("value")
    let maxSupervisorForms = document.querySelector("#id_supervisors-MAX_NUM_FORMS").getAttribute("value")
    let minSupervisorForms = document.querySelector("#id_supervisors-MIN_NUM_FORMS").getAttribute("value")
    addSupervisorButton.addEventListener('click', addSupervisorForm)
    deleteSupervisorButton.addEventListener('click', deleteSupervisorForm)
    function addSupervisorForm(e) {
        e.preventDefault()

        if (supervisorFormNum < maxSupervisorForms) {
            let newForm = supervisorForm[0].cloneNode(true)
            let formRegex = RegExp(`supervisors-(\\d){1}-`, 'g')

            supervisorFormNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `supervisors-${supervisorFormNum-1}-`)
            container.insertBefore(newForm, addSupervisorButton)

            totalSupervisorsForms.setAttribute('value', `${supervisorFormNum }`)
        }
    }
    function deleteSupervisorForm(e){
        e.preventDefault()

        if (supervisorFormNum > minSupervisorForms) {
            supervisorForm = document.querySelectorAll(".supervisor-form")
            supervisorForm[supervisorForm.length-1].remove()
            supervisorFormNum--
            totalSupervisorsForms.setAttribute('value', `${supervisorFormNum}`)
        }
    }
</script>
