{% load i18n django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% translate "Add" as add %}
{% translate "Delete" as delete %}
{% translate "Submit" as submit %}
<style>
    * {
        border-radius: 0!important;
    }
    .row {
        margin-right: 0!important;
    }
</style>
<form method="post" id="form-container" class="form" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_form_errors form layout='horizontal' %}
    {% bootstrap_form form layout='horizontal' exclude="privacy_policy" %}

    <h2 class="mt-3">{% trans "Students" %}:</h2>
    {{ students.management_form }}
    {% for form in students %}
        <div class="student-form">
            <hr/>
            {% bootstrap_form_errors form layout='horizontal' %}
            {% bootstrap_form form layout='horizontal' %}
        </div>
    {% endfor %}
    <div id="student-buttons" class="btn-group" role="group">
        {% bootstrap_button add id="add-student-form" button_class="btn-secondary" %}
        {% bootstrap_button delete id="delete-student-form" button_class="btn-secondary" %}
    </div>

    <h2 class="mt-3">{% trans "Supervisors" %}:</h2>
    {{ supervisors.management_form }}
    {% for form in supervisors %}
        <div class="supervisor-form">
            <hr/>
            {% bootstrap_form_errors form layout='horizontal' %}
            {% bootstrap_form form layout='horizontal' %}
        </div>
    {% endfor %}
    <div id="supervisor-buttons" class="btn-group" role="group">
        {% bootstrap_button add id="add-supervisor-form" button_class="btn-secondary" %}
        {% bootstrap_button delete id="delete-supervisor-form" button_class="btn-secondary" %}
    </div>
    <hr/>
    {% bootstrap_field form.privacy_policy wrapper_class="mb-3"%}
    {% bootstrap_button submit button_type="submit" button_class="btn-primary" %}
</form>
<script>
    let container = document.querySelector("#form-container")

    let studentForm = document.querySelectorAll(".student-form")
    let studentButtons = document.querySelector("#student-buttons")
    let addStudentButton = document.querySelector("#add-student-form")
    let deleteStudentButton = document.querySelector("#delete-student-form")
    let totalStudentsForms = document.querySelector("#id_authors-TOTAL_FORMS")
    let studentFormNum = totalStudentsForms.getAttribute("value")
    let maxStudentsForms = document.querySelector("#id_authors-MAX_NUM_FORMS").getAttribute("value")
    let minStudentsForms = document.querySelector("#id_authors-MIN_NUM_FORMS").getAttribute("value")
    addStudentButton.addEventListener('click', addStudentForm)
    deleteStudentButton.addEventListener('click', deleteStudentForm)
    function addStudentForm(e){
        e.preventDefault()

        if (studentFormNum < maxStudentsForms){
            let newForm = studentForm[0].cloneNode(true)
            let formRegex = RegExp(`authors-(\\d){1}-`,'g')

            studentFormNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `authors-${studentFormNum-1}-`)
            container.insertBefore(newForm, studentButtons)

            totalStudentsForms.setAttribute('value', `${studentFormNum}`)
        }
    }
    function deleteStudentForm(e){
        e.preventDefault()

        if (studentFormNum > minStudentsForms) {
            studentForm = document.querySelectorAll(".student-form")
            studentForm[studentForm.length-1].remove()
            studentFormNum--
            totalStudentsForms.setAttribute('value', `${studentFormNum}`)

        }
    }


    let supervisorForm = document.querySelectorAll(".supervisor-form")
    let supervisorButtons = document.querySelector("#supervisor-buttons")
    let addSupervisorButton = document.querySelector("#add-supervisor-form")
    let deleteSupervisorButton = document.querySelector("#delete-supervisor-form")
    let totalSupervisorsForms = document.querySelector("#id_supervisors-TOTAL_FORMS")
    let supervisorFormNum = totalSupervisorsForms.getAttribute("value")
    let maxSupervisorForms = document.querySelector("#id_supervisors-MAX_NUM_FORMS").getAttribute("value")
    let minSupervisorForms = document.querySelector("#id_supervisors-MIN_NUM_FORMS").getAttribute("value")
    addSupervisorButton.addEventListener('click', addSupervisorForm)
    deleteSupervisorButton.addEventListener('click', deleteSupervisorForm)
    function addSupervisorForm(e) {
        e.preventDefault()

        if (supervisorFormNum < maxSupervisorForms) {
            let newForm = supervisorForm[0].cloneNode(true)
            let formRegex = RegExp(`supervisors-(\\d){1}-`, 'g')

            supervisorFormNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `supervisors-${supervisorFormNum-1}-`)
            container.insertBefore(newForm, supervisorButtons)

            totalSupervisorsForms.setAttribute('value', `${supervisorFormNum }`)
        }
    }
    function deleteSupervisorForm(e){
        e.preventDefault()

        if (supervisorFormNum > minSupervisorForms) {
            supervisorForm = document.querySelectorAll(".supervisor-form")
            supervisorForm[supervisorForm.length-1].remove()
            supervisorFormNum--
            totalSupervisorsForms.setAttribute('value', `${supervisorFormNum}`)
        }
    }
</script>
