# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

.idea/

# Python #
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Apache uWSGI
RELOAD

# Media and static
static/
media/

# Production settings
pucadmin/PUCadmin/settings/production.py
pucadmin/PUCadmin/settings/management.py
